<%- include('header') %>
<div class="container" style="margin-top:30px">
    <h2>欢迎使用流水线在线管理系统</h2>
    <p>本系统可以管理流水线，是嵌入式竞赛队伍10410的作品的一部分。</p>
    <p>为使用本系统，请先单击下方按钮登录。</p>
    <p><a class="btn btn-success" href="#" data-toggle="modal" data-target="#loginForm">登录</a></p>
</div>
<%- include('footer') %>
